# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# explicitly set binary/text for different file types
*.jpg    binary
*.png    binary
*.Rdata  text
*.rdb    binary
*.rds    binary
*.Rd     text
*.Rdx    binary
*.Rmd    text
*.R      text

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain
